<div class="page-header">
  <h1>Manage <%= link_to @team.club.name, @team.club %>.<%= link_to @team.name, @team %></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/team_management' %>
  </div>
</div>
