html {
  background-size: cover;
  background-image:url("bg.jpg");
  background-attachment:fixed;
}
main {
  background-size: cover;
  background-image:url("bg.jpg");
  background-attachment:fixed;
}

.navbar {
  background-color: transparent;
  background: transparent;
}

.navbar-default {
  border-style: none;
}

.navbar-header {
  visibility: hidden;
}
