html {
  background-size: cover;
  background-image:url("bg.jpg");
  background-attachment:fixed;
}
main {
  background-size: cover;
  background-image:url("bg.jpg");
  background-attachment:fixed;
}

