.team-header {
  margin-top: -40px;
  background-size: 100% 100%;
  padding-right: 0;
  margin-bottom: -100px;
  position: relative;

}

.prof-pic {
  margin-top: 100px;
}

main {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
