<div class="home-no-clubs-message">
  <div class="page-header">
    <h1>Looks like haven't joined any clubs! <br />
    <small>Check out these clubs</small></h1>
  </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <table class="table">
          <tbody>
            <% Club.all.each do |club| %>
              <tr><%= render club %></tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
