<% if user_signed_in? %>
  <ul class="sidebar-nav">

    <li>
      <%= link_to root_url do %>
      <i class="glyphicon glyphicon-home"></i>
      Main Feed
      <% end %>
    </li>
    <%= render 'layouts/navigation/navigation_clubs_links' %>

    <li>
      <%= link_to edit_user_registration_path do %>
      <i class="glyphicon glyphicon-cog"></i>
      Settings
      <% end %>
    </li>

    <li>
      <%= link_to destroy_user_session_path, :method=>'delete' do %>
      <i class="glyphicon glyphicon-log-out"></i>
      Logout
      <% end %>
    </li>
    
  </ul>
<% end %>