<% teams_managed = current_user.led_teams %>
<% if teams_managed.size > 0 %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Teams<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <% teams_managed.each do |t| %>
      <% num_join_requests = t.team_join_requests.size %>
      <li>
        <%= link_to [:edit, t] do %>
          <%= t.club.name.downcase+"."+t.name %>
          <% if num_join_requests > 0 %>
            <span class="badge"><%= num_join_requests %></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
<% end %>
